.app__newsletter-input input{
    font-family: var(--font-base);
}

@media screen and (min-width:2000px) {
    .app__newsletter-input input{
        font-size: 2rem;
    }
}
@media screen and (max-width:990px) {
    .app__newsletter-input{
        flex-direction: column !important;
        width: 100% !important;
    }
    .app__newsletter-input input{
        margin: 0 0 2rem 0 !important;
        width: 100%;
    }
}
@media screen and (max-width:650px) {
    .app__newsletter{
        padding: 2rem 0 !important;
        border: none !important;
    }
}
@media screen and (max-width:300px) {
    .app__newsletter-heading h1{
        font-size: 32px !important;
        line-height: 50px;
    }
}